spring:
  application:
    name: relay-api
  
  datasource:
    url: jdbc:postgresql://localhost:5432/iotdb
    username: iotuser
    password: iotpass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

logging:
  level:
    com.supermetrics.relay: INFO

